In [1]:
num=3.5
print(type(num))

<class 'float'>

In [2]:
int(num) #convertimos a entero

3

In [3]:
int('hola')

ValueError: invalid literal for int() with base 10: 'hola'

In [4]:
num='8'
type(num) #obtenemos el tipo de variable

str

In [5]:
int(num) #convertimos a entero

8

In [6]:
type(num)

str

In [7]:
num=int(num)#reasignamos un valor de tipo entero a la variable num

In [8]:
type(num)

int

In [9]:
num='8.5'
print(type(num))

<class 'str'>

In [10]:
num2=float(num)#convertimos a flotante y guardamos en una nueva variable

In [13]:
print(type(num2))

<class 'float'>

In [17]:
num=4
print(type(num))
num2=float(num)
print(type(num2))

<class 'int'>
<class 'float'>

In [18]:
x=10#declaración de entero como variable 
print(type(x))#comprobamos el tipo de dato de x
y=str(x)#convertimos a string la variable x, que es un entero
print(type(y))

<class 'int'>
<class 'str'>

In [19]:
w=2.2
print(type(w))
z=str(w)
print(type(z))

<class 'float'>
<class 'str'>

In [4]:
resultado=1<<3 #esta función desplaza 3 espacios a la izquierda al 1 binario
print(resultado)#imprime su valor decimal

8